button.button-login {
  position: initial !important;
  left: 45% !important;
  display: inline-block !important;
  border: 1px solid #999 !important;
  border-radius: 2px !important;
  margin-top: 10px !important;
  width: 135px !important;
  height: 25px !important;
  padding: 0 !important;
  color: initial !important;
  font-weight: normal !important;
  text-align: center !important;
  background-color: white;
}

.button-login-icon {
  float: left;
  height: 18px;
  padding: 1px 0px 0px 4px;
}

.button-login-text {
  line-height: 21px;
  background-image: -webkit-linear-gradient(bottom, #ddd, white);
  font-size: 12px;
}
